<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/jquery-ui.css" />
    <include path="~/Content/bootstrap-theme.css" />
    
    <include path="~/Content/font-awesome.min.css" />
    <include path="~/Content/jquery.smartmenus.bootstrap.css" />
    <include path="~/Content/bootstrap-dialog.min.css" />
    <include path="~/Content/dialog_box.css" />
  </styleBundle>
</bundles>