<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <section name="GoldConfig" type="Goldmedal.Emails.App_Code.BLL.Common.Settings.GoldConfig" requirePermission="false" />
  </configSections>
  <appSettings file="App_Data\UserFiles\UserSettings.config" />
  <connectionStrings configSource="App_Data\Config\ConnectionStrings.config" />
  <system.web>
    <authentication mode="None">
      <!--<forms loginUrl="~/User-Login" timeout="2880" />-->
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
    </authorization>
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Office.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.SpellChecker.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxScheduler.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraScheduler.v18.1.Core, Version=18.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <globalization culture="" uiCulture="" />
    <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.7.2" />
    <customErrors mode="RemoteOnly" defaultRedirect="errorpage.htm">
      <error statusCode="403" redirect="bannedaddress.htm" />
      <error statusCode="404" redirect="filenotfound.htm" />
    </customErrors>
    <machineKey validationKey="69FF5F5A1D0B067C9E4FDCABF0589B5CD44A6E43BA8998990B56FC4E0FE31F6F6C238F8A9A6D6557FD21A17E2E2249BE4933D9293C27CB1173020D6B8676DF74" decryptionKey="0AE9AF8FAE9F3ED1C11A24354E96630D664CBBF744CAAC69F15FE2B2EC475B65" validation="SHA1" decryption="AES" />
    <!--<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="FactoryMenu.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>-->
    <pages validateRequest="true" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <!--<themes enableThemesAssembly="true" styleSheetTheme="" theme="Moderno" customThemeAssemblies="" />-->
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Moderno" customThemeAssemblies="" />
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" checkReferencesToExternalScripts="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="errorpage.htm" />
  </devExpress>
  <GoldConfig>
    <SqlServer ConnectionStringName="mycon" />
    <ScheduleTasks>
      <Thread seconds="10">
        <!--  <task name="AutoSchemeUpdate" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoSchemeUpdate" enabled="true" stopOnError="false" maxTries="1" />
        <task name="SendNotificationIOS" type="Goldmedal.Emails.App_Code.BLL.Common.Message.SendNotificationIOS" enabled="true"  stopOnError="false" maxTries="1"/>
      <task name="AutoDVSmail" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoDVSMailSend" enabled="true" stopOnError="false" maxTries="1" />
        <task name="AutoGSTStatus" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoGSTStatus" enabled="true" stopOnError="false" maxTries="1" />
   
        <task name="AutoGSTStatus" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoGSTStatus" enabled="true" stopOnError="false" maxTries="1" />
      <task name="AutoDhanbarseAppDownloadSmsSend" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoDhanbarseAppDownloadSmsSend" enabled="true" stopOnError="false" maxTries="1" />
        <task name="AutoInvoiceJson" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoInvoiceJson" enabled="true" stopOnError="false" maxTries="1" />
        <task name="AutoWorldCup1" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoWorldCup1" enabled="true" stopOnError="false" maxTries="1" />
        <task name="AutoWorldCup2" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoWorldCup2" enabled="true" stopOnError="false" maxTries="1" />
        <task name="AutoWorldCup3" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoWorldCup3" enabled="true" stopOnError="false" maxTries="1" />
       <task name="AutoLoyaltyPoint" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoPartyLoyaltyPoint" enabled="true" stopOnError="false" maxTries="1" />
        <task name="ActiveSchemeReportBranch" type="Goldmedal.Emails.App_Code.BLL.Common.Message.BranchParty_Active_Scheme_Report" enabled="true" stopOnError="false" maxTries="1" />
        <task name="AutoExecutiveSignOut" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoExecutiveSignOut" enabled="true" stopOnError="false" maxTries="1" />
        <task name="AutoExecutiveAttedance" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoExecutiveAttedance" enabled="true" stopOnError="false" maxTries="1" />

      <task name="AutoTodayFinalInvoiceSMS" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoTodayFinalInvoiceSMS" enabled="true" stopOnError="false" maxTries="1" />
        <task name="ActiveSchemeReportBranch" type="Goldmedal.Emails.App_Code.BLL.Common.Message.BranchParty_Active_Scheme_Report" enabled="true" stopOnError="false" maxTries="1" />
        <task name="SendNotification" type="Goldmedal.Emails.App_Code.BLL.Common.Message.SendNotification" enabled="true"  stopOnError="false" maxTries="1" />
         <task name="ActiveSchemeReport" type="Goldmedal.Emails.App_Code.BLL.Common.Message.PartyWise_Active_Scheme_Report" enabled="true" stopOnError="false" maxTries="1" />
         <task name="SPProductionPlanningPhysicalStockData" type="Goldmedal.Emails.App_Code.BLL.Common.Message.ProductionPlanningPhysicalStockData" enabled="true"  stopOnError="false" maxTries="1" />
         <task name="SendNotification" type="Goldmedal.Emails.App_Code.BLL.Common.Message.SendNotification" enabled="true"  stopOnError="false" maxTries="1" />
        <task name="UpdateEmailQueue" type="Goldmedal.Emails.App_Code.BLL.Common.Message.UpdateEmailQueue" enabled="true"  stopOnError="false" maxTries="1" />
        <task name="Emails" type="Goldmedal.Emails.App_Code.BLL.Common.Message.SendQueuedMessagesTask" enabled="true"  stopOnError="false" maxTries="1" />
         <task name="DeleteSendEmail" type="Goldmedal.Emails.App_Code.BLL.Common.Message.DeleteSendQueuedEmail" enabled="true"  stopOnError="false" maxTries="1" />
         <task name="PartyCreditNote" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoCreditNotePartyWise" enabled="true"  stopOnError="false" maxTries="1" />
          <task name="SendCDInvoice" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoPartyWiseCDInvoice" enabled="true"  stopOnError="false" maxTries="1" />
       <task name="ActiveSchemeReportBranch" type="Goldmedal.Emails.App_Code.BLL.Common.Message.BranchParty_Active_Scheme_Report" enabled="true" stopOnError="false" maxTries="1" />-->
        <!-- <task name="DailyInvoceReport" type="Goldmedal.Emails.App_Code.BLL.Common.Message.EveryDay_Invoice" enabled="true" stopOnError="false" maxTries="1" />

   <task name="DailyInvoceReport" type="Goldmedal.Emails.App_Code.BLL.Common.Message.EveryDay_Invoice" enabled="true" stopOnError="false" maxTries="1" />
     <task name="SendMessage" type="Goldmedal.Emails.App_Code.BLL.Common.Message.SendSMS" enabled="true"  stopOnError="false" maxTries="1" />
        <task name="Inactivedelinvoicepointoloyalty" type="Goldmedal.Emails.App_Code.BLL.Common.Message.Inactivedelinvoicepointoloyalty" enabled="true"  stopOnError="false" maxTries="1" />
        <task name="Pointforallinvoceofdate" type="Goldmedal.Emails.App_Code.BLL.Common.Message.Pointforallinvoceofdate" enabled="true"  stopOnError="false" maxTries="1" />
        <task name="Bonuspointforallinvoceofdate" type="Goldmedal.Emails.App_Code.BLL.Common.Message.Bonuspointforallinvoceofdate" enabled="true"  stopOnError="false" maxTries="1" />
        <task name="AutoStarRewards" type="Goldmedal.Emails.App_Code.BLL.Common.Message.AutoStarRewards" enabled="true"  stopOnError="false" maxTries="1" />-->
      </Thread>
    </ScheduleTasks>
  </GoldConfig>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 329173b3-bb54-45d9-b86e-f1d9c10dc781-->