<?xml version="1.0"?>
<connectionStrings>

  <add name="mycon" connectionString="Data Source=PANKAJ-PC\MSSQLSERVER01;Initial Catalog=GoldMedal.Email; Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="myconread" connectionString="Data Source=PANKAJ-PC\MSSQLSERVER01;Initial Catalog=GoldMedal.Email; Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="myconErp" connectionString="Data Source=PANKAJ-PC\MSSQLSERVER01;Initial Catalog=GoldmedalErp;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="myconErpread" connectionString="Data Source=PANKAJ-PC\MSSQLSERVER01;Initial Catalog=GoldmedalErp; Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>