<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ChartImageHandler" value="storage=file;"/>
  <add key="UseSSL" value="false"/>
  <add key="SharedSSLUrl" value=""/>
  <add key="NonSharedSSLUrl" value=""/>
  <add key="vs:EnableBrowserLink" value="false"/>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="url" value="https://api.goldmedalindia.in//api//" />
  <add key="Export.MasterDivisionMaster" value="true" />
  <add key="Security.EncryptionPrivateKey" value="A674#Dc*uS$PL23n" />
  <add key="SmsUser" value="goldmedal"  />
  <add key="SmsPassword" value="sd56jjaa"  />
  <add key="ErpDailyInvoiceReport" value="https://erp.goldmedalindia.in/Report-TaxInvoice.aspx?type=transporter"  />
  <add key="ErpActiveSchemeReport" value="https://erp.goldmedalindia.in/Partywiseactiveschemeprint.aspx?cin="  />
  <add key="ErpBranchActiveSchemeReport" value="https://erp.goldmedalindia.in/Partywiseactiveschemeprint2.aspx?cin="  />
  <add key="ErpAutoCreditNote" value="https://api.goldmedalindia.in/Credit-Note-Print1.aspx?id="  />
  <add key="FCM_ServerKey" value="AAAAVAkbM1k:APA91bEb3HkDK929jCGbOZ_VqypVto_3QQ9s0P0E-3P1ExuzI0jfdImwpVkzGDNzGfZEG4cTruX6Y9_YQTKNguu8S4nL72WaCWTloTVXoxyIwvtSbt8ekL7G6-HiL5fgQ0VMd9QeY8M-2bkHw94RHkvzl9MbvAsvAQ" />
  <add key="FCMDhanbarse_ServerKey" value="AAAAnJFfyzA:APA91bHccEhHaRFpp3AwXzvQOfLFrxI47VWHCC624u089iXGPQ6HnF2vQ5Fpi_2GDf3AENOQD1nqH68mT35vy0RDfvIbEGallj1pLl7esCRYyqgfqnMBy1to4OGavwpaZoHZZ7gk688-" />
  <add key="FCM_ServerKeyExcutive" value="AIzaSyA9zWCx-WO-AJ2HIgtVHlMs0R-rxEe_6_A" />
  <add key="FCM_ServerKeyHRM" value="AAAAj_PtQ2s:APA91bF6K3XBD8_u5L4baaWafqwtSeMWh2FOWu7ED3LS6AWbZOQysVpdrNB7JSnY3ama-gAfYUQfnO-fW_6T6oAbGzYxNCfvH7zg-WDDb0hEfjCinzcHhQUu5-tP3tu_GAIfCLyhIo_O" />
  <!--Modules.Gold.Media.Azure-->
  <add key="Gold.Media.Azure.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=goldblobtest;AccountKey=22V+3FFMOG0VnVPBkpF1NX5fOrXkUqfdl8pxUWQJd7ioDtpyCixVNRsLTCd5IdTk2a98mj9qdgILqdovbE14Bw==;EndpointSuffix=core.windows.net" />
  <add key="Gold.Media.Azure.ContainerName" value="goldapptest" />
  <add key="Gold.Media.Azure.BasePath" value="goldapp/base/erp/mail" />
  <add key="Gold.Media.Azure.PublicHostName" value="" />
  <!--Modules.Gold.Media.Azure-->
</appSettings>